:root {
    --background: oklch(0.98 0 0);
    --foreground: oklch(0.22 0 0);
    --card: oklch(0.98 0 0);
    --card-foreground: oklch(0.22 0 0);
    --popover: oklch(0.98 0 0);
    --popover-foreground: oklch(0.22 0 0);
    --primary: oklch(0.47 0.15 25.06);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.96 0.04 88.18);
    --secondary-foreground: oklch(0.48 0.10 75.09);
    --muted: oklch(0.94 0.01 48.70);
    --muted-foreground: oklch(0.44 0.01 73.63);
    --accent: oklch(0.96 0.06 94.84);
    --accent-foreground: oklch(0.40 0.13 25.81);
    --destructive: oklch(0.44 0.16 26.84);
    --border: oklch(0.94 0.03 81.74);
    --input: oklch(0.94 0.03 81.74);
    --ring: oklch(0.47 0.15 25.06);
    --chart-1: oklch(0.51 0.19 27.52);
    --chart-2: oklch(0.47 0.15 25.06);
    --chart-3: oklch(0.40 0.13 25.81);
    --chart-4: oklch(0.56 0.15 49.06);
    --chart-5: oklch(0.47 0.12 46.52);
    --sidebar: oklch(0.94 0.01 48.70);
    --sidebar-foreground: oklch(0.22 0 0);
    --sidebar-primary: oklch(0.47 0.15 25.06);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.96 0.06 94.84);
    --sidebar-accent-foreground: oklch(0.40 0.13 25.81);
    --sidebar-border: oklch(0.94 0.03 81.74);
    --sidebar-ring: oklch(0.47 0.15 25.06);
  
    --font-sans: Poppins, sans-serif;
    --font-serif: Libre Baskerville, serif;
    --font-mono: IBM Plex Mono, monospace;
  
    --radius: 0.375rem;
    
    --shadow-2xs: 1px 1px 16px -2px oklch(0.28 0.09 24.83 / 0.06);
    --shadow-xs: 1px 1px 16px -2px oklch(0.28 0.09 24.83 / 0.06);
    --shadow-sm: 1px 1px 16px -2px oklch(0.28 0.09 24.83 / 0.12), 1px 1px 2px -3px oklch(0.28 0.09 24.83 / 0.12);
    --shadow: 1px 1px 16px -2px oklch(0.28 0.09 24.83 / 0.12), 1px 1px 2px -3px oklch(0.28 0.09 24.83 / 0.12);
    --shadow-md: 1px 1px 16px -2px oklch(0.28 0.09 24.83 / 0.12), 1px 2px 4px -3px oklch(0.28 0.09 24.83 / 0.12);
    --shadow-lg: 1px 1px 16px -2px oklch(0.28 0.09 24.83 / 0.12), 1px 4px 6px -3px oklch(0.28 0.09 24.83 / 0.12);
    --shadow-xl: 1px 1px 16px -2px oklch(0.28 0.09 24.83 / 0.12), 1px 8px 10px -3px oklch(0.28 0.09 24.83 / 0.12);
    --shadow-2xl: 1px 1px 16px -2px oklch(0.28 0.09 24.83 / 0.30);
    
  }
  
  .dark {
    --background: oklch(0.22 0.01 52.96);
    --foreground: oklch(0.97 0 0);
    --card: oklch(0.27 0.01 39.35);
    --card-foreground: oklch(0.97 0 0);
    --popover: oklch(0.27 0.01 39.35);
    --popover-foreground: oklch(0.97 0 0);
    --primary: oklch(0.51 0.19 27.52);
    --primary-foreground: oklch(0.98 0 0);
    --secondary: oklch(0.47 0.12 46.52);
    --secondary-foreground: oklch(0.96 0.06 94.84);
    --muted: oklch(0.27 0.01 39.35);
    --muted-foreground: oklch(0.87 0 0);
    --accent: oklch(0.56 0.15 49.06);
    --accent-foreground: oklch(0.96 0.06 94.84);
    --destructive: oklch(0.64 0.21 25.39);
    --border: oklch(0.37 0.01 73.58);
    --input: oklch(0.37 0.01 73.58);
    --ring: oklch(0.51 0.19 27.52);
    --chart-1: oklch(0.71 0.17 21.96);
    --chart-2: oklch(0.64 0.21 25.39);
    --chart-3: oklch(0.58 0.22 27.29);
    --chart-4: oklch(0.84 0.16 84.06);
    --chart-5: oklch(0.77 0.16 69.82);
    --sidebar: oklch(0.22 0.01 52.96);
    --sidebar-foreground: oklch(0.97 0 0);
    --sidebar-primary: oklch(0.51 0.19 27.52);
    --sidebar-primary-foreground: oklch(0.98 0 0);
    --sidebar-accent: oklch(0.56 0.15 49.06);
    --sidebar-accent-foreground: oklch(0.96 0.06 94.84);
    --sidebar-border: oklch(0.37 0.01 73.58);
    --sidebar-ring: oklch(0.51 0.19 27.52);
    
    --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
    --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
    --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
    --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
    --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
    --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
    --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
    --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
  }
  
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
  
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);
  
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
  
    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
  }